@import "../00_Lib/variables";

// -- Mobile --

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  display: inline-grid;
  grid-template-rows: 4.5em;
  grid-template-columns: 15% 70% 15%;
  color: $gold;
  font-family: $fontNavbar;
  background-color: rgba(255, 255, 255, 0.9);
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  color: $gold;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 2em 2em;
}

.nav {
  z-index: 900;
  width: 100vw;
  font-size: 1.1em;
  position: absolute;

  &__items {
    visibility: hidden;
    grid-column: 2 / 3;
    grid-row: 1/2;
  }

  &__items__active {
    display: grid;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2/3;
  }

  &__link:hover {
    border-bottom: 2px solid;
    border-color: $gold;
    transition: ease-in;
  }

  &__logo {
    margin: 1em;
    justify-self: start;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    cursor: pointer;
  }

  &__icon {
    padding-right: 1em;
    font-size: 1.4em;
    grid-column: 3/ 4;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    cursor: pointer;
  }

  &__btn {
    width: 5em;
    padding: 4px 12px;
    margin-right: 10px;
    border: 1.7px solid $gold;
    border-radius: 0.5em;
    cursor: pointer;
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    justify-self: end;
    align-self: center;
    font-family: $fontNavbar;
    font-size: 1em;
    color: $gold;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__btn:hover {
    transform: scale(0.98);
    border: 2px solid $gold;
    color: $gold;
  }

  &__active {
    border-bottom: 2px solid $gold;
  }
}

// -- Desktop --
@media (min-width: 76em) {
  nav {
    display: grid;
    grid-template-rows: 4.5em;
    grid-template-columns: 15% 70% 15%;
  }

  li {
    display: inline;
    padding-right: 1em;
  }

  .nav {
    &__items {
      visibility: visible;
      text-align: center;
      justify-self: end;
      align-self: center;
      margin: 0;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &__items__active {
      display: inline;
      text-align: center;
      justify-self: end;
      align-self: center;
      margin: 0;
      grid-column: 2 / 3;
      grid-row: 1/ 2;
    }

    &__logo {
      justify-self: center;
      align-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &__icon {
      display: none;
    }

    &__btn {
      width: 6em;
      padding: 6px 14px;
      border: 1.7px solid $gold;
      border-radius: 0.5em;
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      justify-self: center;
      align-self: center;
    }

    &__active {
      opacity: 0.6;
    }
  }
}
