

// -------------FONTS------------
$fontTitle: 'Poppins', sans-serif;
$fontText: 'Cormorant', serif;


// -------------COLORS------------

// Font-Colors
$colorTitle: #a3985d;
$colorText: black;


//Background-Colors
$beige: #f3eccf;
$white: #fffafa;