

// -------------FONTS------------
$fontNavbar: 'Raleway', sans-serif;
$fontTitle: 'Poppins', sans-serif;
$fontText: 'Cormorant', serif;


// -------------COLORS------------

// Font-Colors
$gold: #a3985d;


//Background-Colors
$beige: #f3eccf;
$white: #fffafa;