@import "../00_Lib/variables";

.cards {
  z-index: 200;

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh 15vh 25vh 25vh 25vh 5vh;
    background-color: $beige;
    grid-row-gap: 2em;


  }

  &__title {
    font-family: $fontTitle;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $gold;
    margin-top: 1em;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: start;
  }

  &__text {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 2em;
    padding-top: 2em;
    font-family: $fontText;
    font-size: 2.1vh;;
    text-align: justify;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;
  }
  &__subtitle {
    width: 100%;
    height: auto;
    z-index: 30;
    position: relative;
    font-family: $fontTitle;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    font-size: 3.3vw;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  }
  &__card1 {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 100%;
  }

  &__card2 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  &__card3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  &__card3:hover {
    transition: 0.5s ease;
    z-index: 22;
    opacity: 0.7;
    cursor: pointer;
  }
  &__card2:hover {
    transition: 0.5s ease;
    z-index: 22;
    opacity: 0.7;
    cursor: pointer;
  }
  &__card1:hover {
    transition: 0.5s ease;
    z-index: 22;
    opacity: 0.7;
    cursor: pointer;
  }


}

@media (min-width: 70em) {
  .cards {
    &__content {
      z-index: 200;
      position: relative;
      grid-template-columns: repeat(5, 20%);
      grid-template-rows: 10vh 50vh 10vh;
      grid-column-gap: 3em;
    }

    &__title {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: center;
      align-self: start;
    }

    &__subtitle {
      font-size: 1.2vw;
    }
    &__text {
      margin-top: 0;
      padding: 0.5em;
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: center;
      align-self: center;
    }

    &__card1 {
      grid-column: 2/3;
      grid-row: 2/3;

      overflow: hidden;
    }

    &__card2 {
      grid-column: 3/4;
      grid-row: 2/3;

      overflow: hidden;
    }

    &__card3 {
      grid-column: 4/5;
      grid-row: 2/3;

      overflow: hidden;
    }
  }
}
