@import "../00_Lib/variables";

.box {
margin: 0;
}

.header {

  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 25vh 50vh 25vh;

  &__position {
    grid-column: 1/4;
    grid-row: 1/4;
  }

  &__logo {
    width: 50vw;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
  }

  &__title {
    position: relative;
    font-family: $fontTitle;
    font-size: 7vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $gold;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 70em) {
  .box {

  }
  .header {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 40% 25%;


    &__title {
      font-size: 5vw;
    }
  }


}
