@import "../00_Lib/variables";

.header {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 15vh 70vh 15vh;

  &__position {
    grid-column: 1/4;
    grid-row: 1/4;

  }

  &__logo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;

  }

  &__title {
    position: relative;
    font-family: $fontTitle;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $gold;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
  }
}

@media (min-width: 76em) {
  .header {
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 15vh 70vh 15vh;
    &__position {
      grid-column: 1 / 4;
    }



    &__logo {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      align-self: center;
    }
  }
}

/*
 &__logo {
        max-width: 60vw;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
      }*/
