@import "../00_Lib/variables";

.footer {

 position: relative;
  bottom: 0;
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  grid-template-rows: 7vh;
  font-size: 0.6em;
  font-family: $fontTitle;
  background-color: white;




  &__copyright {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
  }

  &__link {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;

  }
  &__link1 {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;

  }
}
