@import "../00_Lib/variables";

.contact {
  z-index: 399;
  position: relative;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 5vh 5vh 20vh 10vh;
  grid-row-gap: 2em;

  &__title {
    font-family: $fontTitle;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $gold;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }
&__text {
  font-family: $fontText;
  font-size: 1.1em;

}
  &__mail {
    height: 10vh;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  &__phone {
    height: 10vh;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  &__adress {
    height: 10vh;
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

}

@media (min-width: 70em) {

  .contact {
    z-index: 399;
    position: relative;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 30vh;



    &__mail {
      height: 10vh;
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: start;
      align-self: center;
      text-align: center;
    }

    &__phone {
      height: 10vh;
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: center;
      align-self: center;
      text-align: center;
    }

    &__adress {
      height: 10vh;
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
      align-self: center;
      text-align: center;
    }

  }
}
